In [1]:
import pandas as pd
import datetime

In [2]:
file_to_load = "Resources/food-inspections.csv"
food_data = pd.read_csv(file_to_load)
food_data.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,...,Results,Violations,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,2352683,CHIPOTLE MEXICAN GRILL,CHIPOTLE MEXICAN GRILL,2670642.0,Restaurant,Risk 1 (High),1025 W ADDISON ST,CHICAGO,IL,60613.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.947118,-87.655381,"{'latitude': '-87.6553811622124', 'longitude':...",NaN,NaN,NaN,NaN,NaN
1,2352734,CHILI'S T-I,CHILI'S (T1-B14),34169.0,Restaurant,Risk 1 (High),11601 W TOUHY AVE,CHICAGO,IL,60666.0,...,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,42.008536,-87.914428,"{'latitude': '-87.91442843927047', 'longitude'...",NaN,NaN,NaN,NaN,NaN
2,2352713,NICK'S FIRE GRILL STEAK & LEMONADE INC.,NICK'S FIRE GRILL STEAK & LEMONADE INC.,2699090.0,NaN,Risk 1 (High),2900 W 63RD ST,CHICAGO,IL,60629.0,...,Not Ready,NaN,41.779190,-87.695892,"{'latitude': '-87.69589237398256', 'longitude'...",NaN,NaN,NaN,NaN,NaN
3,2352701,TAQUERIA BLUE LINE INC.,NaN,2703436.0,Restaurant,Risk 1 (High),3401 W BELMONT AVE,CHICAGO,IL,60618.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.939168,-87.712546,"{'latitude': '-87.71254599117191', 'longitude'...",NaN,NaN,NaN,NaN,NaN
4,2352727,PORTAGE PARK DAY NURSERY,MOSAIC EARLY CHILDHOOD ACADEMY,2215815.0,Children's Services Facility,Risk 1 (High),5332-5334 W ADDISON ST,CHICAGO,IL,60641.0,...,Pass,NaN,41.946065,-87.760722,"{'latitude': '-87.76072227616888', 'longitude'...",NaN,NaN,NaN,NaN,NaN

In [3]:
food_data.shape

(196825, 22)

In [4]:
food_data.columns

Index(['Inspection ID', 'DBA Name', 'AKA Name', 'License #', 'Facility Type',
       'Risk', 'Address', 'City', 'State', 'Zip', 'Inspection Date',
       'Inspection Type', 'Results', 'Violations', 'Latitude', 'Longitude',
       'Location', 'Historical Wards 2003-2015', 'Zip Codes',
       'Community Areas', 'Census Tracts', 'Wards'],
      dtype='object')

In [5]:
food_data.isnull().sum()

Inspection ID                      0
DBA Name                           0
AKA Name                        2458
License #                         17
Facility Type                   4768
Risk                              69
Address                            0
City                             139
State                             42
Zip                               50
Inspection Date                    0
Inspection Type                    1
Results                            0
Violations                     52266
Latitude                         690
Longitude                        690
Location                         690
Historical Wards 2003-2015    196825
Zip Codes                     196825
Community Areas               196825
Census Tracts                 196825
Wards                         196825
dtype: int64

In [6]:
# Deleting empty,unrelated columns on the data we re gonna work
food_data = food_data.drop(columns = ["AKA Name", "License #", 
                                      "Historical Wards 2003-2015", "Zip Codes", 
                                      "Community Areas", "Census Tracts", "Wards"])

In [7]:
food_data["Inspection Date"][0]

'2019-12-04T00:00:00.000'

In [8]:
food_data["Inspection Date"] = pd.to_datetime(food_data["Inspection Date"])

In [9]:
last_date = food_data["Inspection Date"][0]
last_date

Timestamp('2019-12-04 00:00:00')

In [10]:
recent_ins = food_data.sort_values(by = "Inspection Date", ascending = False)
recent_ins.head()

,Inspection ID,DBA Name,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2352683,CHIPOTLE MEXICAN GRILL,Restaurant,Risk 1 (High),1025 W ADDISON ST,CHICAGO,IL,60613.0,2019-12-04,License Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.947118,-87.655381,"{'latitude': '-87.6553811622124', 'longitude':..."
6,2352684,CHIPOTLE MEXICAN GRILL,Restaurant,Risk 1 (High),1025 W ADDISON ST,CHICAGO,IL,60613.0,2019-12-04,License Re-Inspection,Pass w/ Conditions,NaN,41.947118,-87.655381,"{'latitude': '-87.6553811622124', 'longitude':..."
1,2352734,CHILI'S T-I,Restaurant,Risk 1 (High),11601 W TOUHY AVE,CHICAGO,IL,60666.0,2019-12-04,Canvass,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,42.008536,-87.914428,"{'latitude': '-87.91442843927047', 'longitude'..."
8,2352718,JAMIESON,School,Risk 1 (High),5650 N MOZART,CHICAGO,IL,60659.0,2019-12-04,Canvass,Pass,49. NON-FOOD/FOOD CONTACT SURFACES CLEAN - Com...,41.984614,-87.700565,"{'latitude': '-87.70056525028134', 'longitude'..."
7,2352702,NAIBOA LATIN STORE,Grocery Store,Risk 3 (Low),3349 N CLARK ST,CHICAGO,IL,60657.0,2019-12-04,License,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,41.943032,-87.652995,"{'latitude': '-87.65299525711882', 'longitude'..."

In [11]:
# end_date= pd.date_range("2019-01-04", periods=12, freq="M")
# end_date

In [12]:
end_date = datetime.date(2019, 12, 4)
days = datetime.timedelta(days = 365, hours = 6)

start_date = end_date - days
start_date

datetime.date(2018, 12, 4)

In [13]:
start_date = "2018-12-04"
end_date = "2019-12-04"
food_df = food_data.loc[(food_data["Inspection Date"] >= start_date) & (food_data["Inspection Date"] <= end_date)]
food_df.head()

,Inspection ID,DBA Name,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2352683,CHIPOTLE MEXICAN GRILL,Restaurant,Risk 1 (High),1025 W ADDISON ST,CHICAGO,IL,60613.0,2019-12-04,License Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.947118,-87.655381,"{'latitude': '-87.6553811622124', 'longitude':..."
1,2352734,CHILI'S T-I,Restaurant,Risk 1 (High),11601 W TOUHY AVE,CHICAGO,IL,60666.0,2019-12-04,Canvass,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,42.008536,-87.914428,"{'latitude': '-87.91442843927047', 'longitude'..."
2,2352713,NICK'S FIRE GRILL STEAK & LEMONADE INC.,NaN,Risk 1 (High),2900 W 63RD ST,CHICAGO,IL,60629.0,2019-12-04,License,Not Ready,NaN,41.779190,-87.695892,"{'latitude': '-87.69589237398256', 'longitude'..."
3,2352701,TAQUERIA BLUE LINE INC.,Restaurant,Risk 1 (High),3401 W BELMONT AVE,CHICAGO,IL,60618.0,2019-12-04,License,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.939168,-87.712546,"{'latitude': '-87.71254599117191', 'longitude'..."
4,2352727,PORTAGE PARK DAY NURSERY,Children's Services Facility,Risk 1 (High),5332-5334 W ADDISON ST,CHICAGO,IL,60641.0,2019-12-04,Canvass,Pass,NaN,41.946065,-87.760722,"{'latitude': '-87.76072227616888', 'longitude'..."

In [14]:
food_df.shape

(17155, 15)

In [15]:
food_df.isnull().sum()

Inspection ID         0
DBA Name              0
Facility Type       102
Risk                  7
Address               0
City                 12
State                 9
Zip                   2
Inspection Date       0
Inspection Type       0
Results               0
Violations         4197
Latitude             59
Longitude            59
Location             59
dtype: int64

In [16]:
food_df.dtypes

Inspection ID               int64
DBA Name                   object
Facility Type              object
Risk                       object
Address                    object
City                       object
State                      object
Zip                       float64
Inspection Date    datetime64[ns]
Inspection Type            object
Results                    object
Violations                 object
Latitude                  float64
Longitude                 float64
Location                   object
dtype: object

In [17]:
food_df["Facility Type"] = food_df["Facility Type"].fillna("Other")
food_df["Risk"] = food_df["Risk"].fillna("Unknown")
food_df["City"] = food_df["City"].fillna("Unknown")
food_df["State"] = food_df["State"].fillna("Unknown")
food_df["Zip"] = food_df["Zip"].fillna(0)
food_df["Violations"] = food_df["Violations"].fillna("Unknown")
food_df["Latitude"] = food_df["Latitude"].fillna(0)
food_df["Longitude"] = food_df["Longitude"].fillna(0)
food_df["Location"] = food_df["Location"].fillna("Unknown")

food_df["Zip"] = food_df["Zip"].astype(int)
food_df.head()

<ipython-input-17-209acd135631>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_df["Facility Type"] = food_df["Facility Type"].fillna("Other")
<ipython-input-17-209acd135631>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_df["Risk"] = food_df["Risk"].fillna("Unknown")
<ipython-input-17-209acd135631>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_df["City"] = food_df["City"].fillna("Unknown")
<ipython-input-17-209acd135631>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_df["State"] = food_df["State"].fillna("Unknown")
<ipython-input-17-209acd135631>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_df["Zip"] = food_df["Zip"].fillna(0)
<ipython-input-17-209acd135631>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_df["Violations"] = food_df["Violations"].fillna("Unknown")
<ipython-input-17-209acd135631>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_df["Latitude"] = food_df["Latitude"].fillna(0)
<ipython-input-17-209acd135631>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_df["Longitude"] = food_df["Longitude"].fillna(0)
<ipython-input-17-209acd135631>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_df["Location"] = food_df["Location"].fillna("Unknown")
<ipython-input-17-209acd135631>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_df["Zip"] = food_df["Zip"].astype(int)

,Inspection ID,DBA Name,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2352683,CHIPOTLE MEXICAN GRILL,Restaurant,Risk 1 (High),1025 W ADDISON ST,CHICAGO,IL,60613,2019-12-04,License Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.947118,-87.655381,"{'latitude': '-87.6553811622124', 'longitude':..."
1,2352734,CHILI'S T-I,Restaurant,Risk 1 (High),11601 W TOUHY AVE,CHICAGO,IL,60666,2019-12-04,Canvass,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,42.008536,-87.914428,"{'latitude': '-87.91442843927047', 'longitude'..."
2,2352713,NICK'S FIRE GRILL STEAK & LEMONADE INC.,Other,Risk 1 (High),2900 W 63RD ST,CHICAGO,IL,60629,2019-12-04,License,Not Ready,Unknown,41.779190,-87.695892,"{'latitude': '-87.69589237398256', 'longitude'..."
3,2352701,TAQUERIA BLUE LINE INC.,Restaurant,Risk 1 (High),3401 W BELMONT AVE,CHICAGO,IL,60618,2019-12-04,License,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.939168,-87.712546,"{'latitude': '-87.71254599117191', 'longitude'..."
4,2352727,PORTAGE PARK DAY NURSERY,Children's Services Facility,Risk 1 (High),5332-5334 W ADDISON ST,CHICAGO,IL,60641,2019-12-04,Canvass,Pass,Unknown,41.946065,-87.760722,"{'latitude': '-87.76072227616888', 'longitude'..."

In [18]:
food_df["City"].replace("CHICAGO", value = "Chicago", inplace = True)
food_df["City"].replace("Chicago", value = "Chicago" , inplace = True)
food_df["City"].replace("CCHICAGO" , value = "Chicago" , inplace = True)
food_df["City"].replace("CHICAGOCHICAGO" , value = "Chicago" , inplace = True)
food_df["City"].replace("CHICAGOHICAGO" , value = "Chicago" , inplace = True)
food_df["City"].replace("chicago" , value = "Chicago" , inplace = True)
food_df["City"].replace("CHICAGOCHICAGO" , value = "Chicago" , inplace = True)
food_df["City"].replace("CHICAGO." , value = "Chicago" , inplace = True)
                
food_df.head()

C:\Users\zbbro\.conda\envs\PythonData38\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Inspection ID,DBA Name,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2352683,CHIPOTLE MEXICAN GRILL,Restaurant,Risk 1 (High),1025 W ADDISON ST,Chicago,IL,60613,2019-12-04,License Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.947118,-87.655381,"{'latitude': '-87.6553811622124', 'longitude':..."
1,2352734,CHILI'S T-I,Restaurant,Risk 1 (High),11601 W TOUHY AVE,Chicago,IL,60666,2019-12-04,Canvass,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,42.008536,-87.914428,"{'latitude': '-87.91442843927047', 'longitude'..."
2,2352713,NICK'S FIRE GRILL STEAK & LEMONADE INC.,Other,Risk 1 (High),2900 W 63RD ST,Chicago,IL,60629,2019-12-04,License,Not Ready,Unknown,41.779190,-87.695892,"{'latitude': '-87.69589237398256', 'longitude'..."
3,2352701,TAQUERIA BLUE LINE INC.,Restaurant,Risk 1 (High),3401 W BELMONT AVE,Chicago,IL,60618,2019-12-04,License,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.939168,-87.712546,"{'latitude': '-87.71254599117191', 'longitude'..."
4,2352727,PORTAGE PARK DAY NURSERY,Children's Services Facility,Risk 1 (High),5332-5334 W ADDISON ST,Chicago,IL,60641,2019-12-04,Canvass,Pass,Unknown,41.946065,-87.760722,"{'latitude': '-87.76072227616888', 'longitude'..."

In [19]:
df = food_df["City"].value_counts()
df

Chicago            17126
Unknown               12
ROSEMONT               3
SCHAUMBURG             2
CHESTNUT STREET        1
NILES NILES            1
ALGONQUIN              1
NEW YORK               1
GRIFFITH               1
NEW HOLSTEIN           1
EVANSTON               1
WILMETTE               1
LANSING                1
ELMHURST               1
WADSWORTH              1
WHEATON                1
Name: City, dtype: int64

In [20]:
food_df.isnull().sum()

Inspection ID      0
DBA Name           0
Facility Type      0
Risk               0
Address            0
City               0
State              0
Zip                0
Inspection Date    0
Inspection Type    0
Results            0
Violations         0
Latitude           0
Longitude          0
Location           0
dtype: int64

In [21]:
# # select rows containing "U"
# city= food_df["City"].value_counts()
# city_df = pd. DataFrame(city)
# city_df.filter(like ="U", axis = 0)
# city_df
# # ??????

In [22]:
food_df["Inspection ID"].value_counts()

2286181    2
2286197    2
2286168    2
2286108    2
2286133    2
          ..
2282271    1
2304800    1
2243362    1
2261797    1
2269180    1
Name: Inspection ID, Length: 17137, dtype: int64

In [23]:
food_df.drop_duplicates("Inspection ID", inplace = True)

<ipython-input-23-938d09d57173>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_df.drop_duplicates("Inspection ID", inplace = True)

In [24]:
food_df.shape

(17137, 15)

In [27]:
food_df.to_csv("Resources/updated_food_inspection.csv", index=False)